[flake8]

# globally ignored violations:
# E741 ambiguous variable name
# W291 trailing whitespace
# W293 blank line contains whitespace

ignore =
    E741,
    W291,
    W293
exclude =
    .git,
    __pycache__,
    .pytest_cache

max-line-length = 120